<ul class="list-group list-group-flush">
    {{#each msgClient}}
        <li class="list-group-item">
            <div class="row">
                <div class="col-12">{{msgClient}}</div>
                <div class="col-12" style="font-size: 0.7rem">{{mail}} [{{time}}]</div>
            </div>
        </li>
    {{/each}}
</ul>
