<div class="card" style="width: 18rem; margin-top: 60px;">
    <div class="card-header">
        <h5 class="card-title">Cargar nuevo producto</h5>
    </div>
    <div class="card-body">
        <form action="product" method="POST">
            <div class="form-group">
                    <input type="text" name="title" placeholder="Coloque el Titulo" class="form-control" style="padding: 20px; margin-top: 5px;">
                    <input type="text" name="price" placeholder="Coloque el Precio" class="form-control" style="padding: 20px; margin-top: 5px;"> 
                    <input type="text" name="img" placeholder="Coloque la ruta de la imagen" class="form-control" style="padding: 20px; margin-top: 5px;">
                    <input type="text" name="description" placeholder="Agregue una breve descipcion" class="form-control" style="padding: 20px; margin-top: 5px;">
                    <button class="btn btn-primary" style="padding: 20px; margin-top: 15px;">Cargar nuevo producto</button>
            </div>
        </form>
    </div>
</div>